* {
    font-family: Helvetica, Arial, sans-serif
}

body {
    padding: 60px;
    padding-top: 0
}

input {
    width: 100%;
    color: grey;
    font-size: 1.1rem;
    padding: 2px 10px;
    border: 1px solid silver;
    border-radius: 10px;
}

.card-grid {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))
}

.card img {
    width: 100%;
    height: auto;
} 
.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    overflow: hidden;
}

.card p {
    text-align: center;
}
